.sqlicious-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .logo img {
    height: 55px !important;
    margin-right: 20px;
  }



  
  .site-title {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    display: flex;
    color: #333;
  }
  
  .sql {
    color: #13bd76; 
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
  }
  
  .icious {
    color: #41384b;
    margin-top: 7px;
  }