.selected-details {
    text-align: center;
    margin-bottom: 20px;
}

.restaurant-map-img {
    border-radius: 100px;
}

.selected-details p {
    margin: 5px 0;
    font-size: 18px;
}

.edit-link {
    color: #007BFF;
    font-weight: bold;
    cursor: pointer;
}

.edit-link:hover {
    color: #0056b3;
}

/* Table selection and booking */
.table-selection {
    position: relative;
    margin-top: 30px;
    text-align: center;
}

.restaurant-map-img {
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
}

.table {
    position: absolute;
    background-color: rgba(92, 40, 27, 0.5);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.table.booked {
    background-color: rgba(255, 0, 0, 0.5); /* Mark booked tables in red */
}
  
  /* Positioning for each table on desktop */
  .table1 { top: 9%; left: 29%; }
  .table2 { top: 9%; left: 66%; }
  .table3 { top: 29%; left: 27%; }
  .table4 { top: 27%; left: 40%; }
  .table5 { top: 27%; left: 54%; }
  .table6 { top: 29%; left: 68%; }
  .table7 { top: 42%; left: 34%; }
  .table8 { top: 42%; left: 48%; }
  .table9 { top: 42%; left: 60%; }
  .table10 { top: 58%; left: 41%; }
  .table11 { top: 58%; left: 54%; }
  .table12 { top: 73%; left: 30.8%; }
  .table13 { top: 76%; left: 47%; }
  .table14 { top: 73%; left: 62.5%; }
  
  /* Mobile view adjustments */
  @media (max-width: 430px) {
    .table {
      padding: 1.5vw; /* Increase padding for touchscreens */
      font-size: 2vw; /* Adjust text size for smaller screens */
    }
  
    /* Adjust table positions for mobile */
    .table1 { top: 12%; left: 15%; }
    .table2 { top: 12%; left: 75%; }
    .table3 { top: 30%; left: 12%; }
    .table4 { top: 27%; left: 32%; }
    .table5 { top: 27%; left: 54%; }
    .table6 { top: 30%; left: 76%; }
    .table7 { top: 42%; left: 22%; }
    .table8 { top: 42%; left: 45%; }
    .table9 { top: 42%; left: 65%; }
    .table10 { top: 56%; left: 34%; }
    .table11 { top: 56%; left: 55%; }
    .table12 { top: 70%; left: 18%; }
    .table13 { top: 73%; left: 44%; }
    .table14 { top: 70%; left: 68.5%; }
  }
  