.selected-details {
    text-align: center;
    margin-bottom: 20px;
}

.restaurant-map-img {
    border-radius: 100px;
}

.selected-details p {
    margin: 5px 0;
    font-size: 18px;
    color: black;
}

.edit-link {
    color: #007BFF;
    font-weight: bold;
    cursor: pointer;
}

.edit-link:hover {
    color: #0056b3;
}

.SelectATime-container,
.SelectATable-container {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;
    font-size: 18px;
    color: rgb(36, 153, 36);
}

/* Table selection and booking */
.table-selection {
    position: relative;
    margin-top: 30px;
    text-align: center;
}

.restaurant-map-img {
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
}

.table {
    position: absolute;
    background-color: rgba(92, 40, 27, 0.5);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.table.booked {
    background-color: rgba(255, 0, 0, 0.5);
}

  .table1 { top: 34.5%; left: 35.3%; }
  .table2 { top: 34.5%; left: 63.2%; }
  .table3 { top: 46%; left: 33.9%; }
  .table4 { top: 44.5%; left: 43.5%; }
  .table5 { top: 44.5%; left: 53.5%; }
  .table6 { top: 46.5%; left: 64%; }
  .table7 { top: 53.5%; left: 38.7%; }
  .table8 { top: 53.5%; left: 49.2%; }
  .table9 { top: 53.5%; left: 58.9%; }
  .table10 { top: 62.8%; left: 44.2%; }
  .table11 { top: 62.8%; left: 53.9%; }
  .table12 { top: 72%; left: 36.4%; }
  .table13 { top: 74%; left: 48.8%; }
  .table14 { top: 72%; left: 60.5%; }

  
  /* Mobile view adjustments */
  @media (max-width: 430px) {
    .table {
      padding: 1.5vw;
      font-size: 2vw;
    }
  
    /* Adjust table positions for mobile */
    .table1 { top: 12%; left: 15%; }
    .table2 { top: 12%; left: 75%; }
    .table3 { top: 30%; left: 12%; }
    .table4 { top: 27%; left: 32%; }
    .table5 { top: 27%; left: 54%; }
    .table6 { top: 30%; left: 76%; }
    .table7 { top: 42%; left: 22%; }
    .table8 { top: 42%; left: 45%; }
    .table9 { top: 42%; left: 65%; }
    .table10 { top: 56%; left: 34%; }
    .table11 { top: 56%; left: 55%; }
    .table12 { top: 70%; left: 18%; }
    .table13 { top: 73%; left: 44%; }
    .table14 { top: 70%; left: 68.5%; }
  }

  .time-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: row;
    justify-content: center;
}

.time-button {
    padding: 10px 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color:grey;
    border-radius: 10px;
}

.time-button:hover {
    background-color: #e0e0e0;
}

.time-button.selected {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}
  